*{
  font-family: Helvetica;
}
.image {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  background-position: center;
}
h1 {
  font-family: Helvetica;
  color: khaki;
  font-size: 100px;
  font-weight: bold;
  text-align: center;

}
.product1 h2 {
  background-color: mediumspringgreen;
  color: white;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}
.product2 h2 {
  background-color: lightcoral;
  color: white;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}
.product3 h2 {
  background-color: skyblue;
  color: white;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}
